.App {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App header {
  padding: 1rem 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px black;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  color: white;
  letter-spacing: -0.1ch;
  text-transform: uppercase;
}

.logo span:first-child {
  color: #d90429;
}
/* 
.btn-reset {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: #ef233c;
  color: white;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: solid 2px #d90429;
}

.btn-reset:hover,
.btn-reset:focus-visible {
  background-color: #d90429;
  transition: background-color 0.5s ease-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.btn-reset:active {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5);
  border-color: white;
} */


.btn-reset {
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
  background-color: transparent;
}

.btn-reset:hover,
.btn-reset:focus-visible {
  transform: rotateZ(90deg) scale(1.2);
}

.game-screen-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game-screen {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  height: 100%;
  margin-top: 3rem;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  align-items: center;
  margin-top: 1rem;
}

.game-status {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
}
.score {
  font-size: 10vw;
  text-align: center;
  position: relative;
}
.score-inc {
  position: absolute;
  font-size: 2vw;
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}
.score-inc.green {
  color: #04d964;
}
.score-inc.red {
  color: #d90429;
}
.score-inc.hidden {
  transform: scale(0);
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #000;
  color: aliceblue;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 4rem;
  border-radius: 1rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #2b2d42;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Links inside the dropdown */
.dropdown-content button {
  width: 50%;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #000;
}

.hidden {
  display: none;
}

.score-history {
  font-style: italic;
  font-size: 1rem;
  color:rgb(104, 125, 142);
  display:flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: baseline;
}
.score-history span:first-of-type {
  font-size: 1.5rem;
}
.score-history .max-score {
  color:#04d964
}
.score-history .min-score {
  color:#d90429
}