body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* My styles */

:root {
  --flip-card-front-bg: #edf2f4;
  --flip-card-back-bg: #edf2f4;
}

html,
body,
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #2b2d42;
  font-size: 16px;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card.guessed {
  cursor: not-allowed;
}

.flip-card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flipped .card-inner {
  transform: rotateY(180deg);
  position: relative;
}

.flip-card .card-front,
.flip-card .card-back {
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--flip-card-front-bg);
  box-shadow: inset -8px -8px 2px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  color: #2b2d42;
}

.flip-card:not(.guessed):not(.flipped):hover .card-inner {
  transform: scale(0.9);
}

.flip-card:not(.guessed):not(.flipped):hover .card-front {
  /* background-color:cornsilk; */
}

.flip-card .card-back {
  background: var(--flip-card-back-bg);
  transform: rotateY(180deg);
  color: white;
}

.flip-card.guessed .card-back {
  background: #04d964;
  /* opacity: 0.8; */
}

.flip-card.bombed .card-back {
  background: #222434;
}

.flip-card .card-score {
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  font-style: italic;
  color: #222434;
}
.flip-card.bombed .card-score {
  color: #d90429;
}
